{% load static %}
 {% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> match predictor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
            
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- css file link -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
       
            <nav class="navbar navbar-dark navbar-expand-sm sticky-top bg-primary">
                <div class="container-fluid">
                <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static 'images/ti.jpg' %}">  Match Prediction</a>
                <div class="collapse navbar-collapse mr-5" id="Navbar">
                    <ul class="navbar-nav ml-auto ">
              
                        <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a href="{% url 'contact' %}">Contacts</a></li> 
                        <li class="nav-item"><a href="{% url 'ABOUT' %}">About Us</a></li>
                        <li class="nav-item"><a href="{% url 'login' %}">Login</a></li> 
                        <li class="nav-item"><a href="{% url 'register' %}">SignUp</a></li> 
                    </ul>
                </div> 
                </div>
            </nav>
            <div class="container-fluid">
            <div class="row ">
                <div class="  col-md-6 col-sm-12">
                <div class="carousel slide" data-ride="carousel" id="slide">
                    <ol class="carousel-indicators">
                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                    <li data-target="#slide" data-slide-to="1"></li>
                    <li data-target="#slide" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/ipl4.jpg' %}" class="d-block w-120 imgr" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/ipl5.jpg' %}" class="d-block w-100 imgr" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/ipl3.jpg' %}" class="d-block w-100 imgr" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        </div>
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
                </div>
                <div class=" col-md-6 col-sm-12">
                <h2 class="headi">IPL</h2>
                <p>The Indian Premier League (IPL) is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India. The league was founded by the Board of Control for Cricket in India (BCCI) in 2008. The IPL has an exclusive window in ICC Future Tours Programme.
                   The IPL is the most-attended cricket league in the world and in 2014 ranked sixth by average attendance among all sports leagues. In 2010, the IPL became the first sporting event in the world to be broadcast live on YouTube. The brand value of the IPL in 2019 was ₹475 billion (US$6.7 billion), according to Duff & Phelps. According to BCCI, the 2015 IPL season contributed ₹11.5 billion (US$160 million) to the GDP of the Indian economy.
                   There have been twelve seasons of the IPL tournament. The current IPL title holders are the Mumbai Indians, who won the 2019 season.[10] The 2020 season has been indefinitely suspended due to the ongoing coronavirus pandemic</p>  
                <div>
                    <h6 class="headi">
                    <p>NOTE*:<marquee behavior="alternate">If u want to predict the result you should have your account.</marquee></p>
                    <h6>-> First you login or SignUp on this site. So <a href="{% url 'login' %}">Click here*</a></h6>
                    </h6>
                </div>
                </div>  
            </div>
            </div>
            
            <footer class="footer bg-primary">
                    <div class="container-fluid">
                    <div class="row justify-content-center">             
                        <div class="col-auto">
                            <p>© Copyright 2020 Match Predictor</p>
                        </div>
                </div>
            </div>
            </footer>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
        
</html>